4d.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- This WSDL file was automatically generated by 4D/16.0.3 on 2018-01-29T14:17:27-05:00-->
<definitions 
	name="ServiciosWeb" 
	targetNamespace="http://131.1.18.108:8084/namespace/default" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://131.1.18.108:8084/namespace/default" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<types>
		<schema 
			targetNamespace="http://131.1.18.108:8084/namespace/default"			   
			xmlns="http://www.w3.org/2001/XMLSchema"			   
			xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
		</schema>		   
	</types>
	<message name="wsCrearRetoRequest">
		<part name="wDescripcionReto" type="xsd:string"/>
		<part name="wResponsableReto" type="xsd:string"/>
		<part name="wFechaReto" type="xsd:date"/>
		<part name="wHoraReto" type="xsd:time"/>
		<part name="wCorreosAdicionalesReto" type="xsd:string"/>
		<part name="wOTReto" type="xsd:string"/>
		<part name="wRetoXModificacion" type="xsd:boolean"/>
	</message>
	<message name="wsCrearRetoResponse">
	</message>a
	<message name="wsAlertaMuestrasInactivasRequest">
		<part name="wsNumRecepcion" type="xsd:string"/>
		<part name="wsCodEquipo" type="xsd:string"/>
		<part name="wsCodInactivos" type="xsd:string"/>
	</message>
	<message name="wsAlertaMuestrasInactivasResponse">
		<part name="wsResultado" type="xsd:string"/>
	</message>
	<portType name="ServiciosWebRPC">
		<operation name="wsCrearReto">
			<input message="tns:wsCrearRetoRequest"/>
			<output message="tns:wsCrearRetoResponse"/>
		</operation>
		<operation name="wsAlertaMuestrasInactivas">
			<input message="tns:wsAlertaMuestrasInactivasRequest"/>
			<output message="tns:wsAlertaMuestrasInactivasResponse"/>
		</operation>
	</portType>
	<binding name="ServiciosWebBinding" type="tns:ServiciosWebRPC">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
			<operation name="wsCrearReto">
				<documentation>no documentation is available</documentation>
				<soap:operation soapAction="ServiciosWeb#wsCrearReto"/>
				<input>
					<soap:body use="encoded" namespace="http://131.1.18.108:8084/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
				</input>
				<output>
					<soap:body use="encoded" namespace="http://131.1.18.108:8084/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
				</output>
			</operation>
			<operation name="wsAlertaMuestrasInactivas">
				<documentation>no documentation is available</documentation>
				<soap:operation soapAction="ServiciosWeb#wsAlertaMuestrasInactivas"/>
				<input>
					<soap:body use="encoded" namespace="http://131.1.18.108:8084/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
				</input>
				<output>
					<soap:body use="encoded" namespace="http://131.1.18.108:8084/namespace/default" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
				</output>
			</operation>
		</binding>
		<service name="ServiciosWeb">
			<documentation></documentation>
			<port name="ServiciosWebPort" binding="tns:ServiciosWebBinding">
				<soap:address location="http://131.1.18.108:8084/4DSOAP/"/>
			</port>
		</service>
	</definitions>
